extends ../layout

block content
  .container
    .row
      each item in movies
        .col-md-2(id='zone#{item._id}')
          h2=item.name
          //.thumbnail
            a(href='/movie/#{item.name}')
              img(src='#{item.name}')
          .caption
            h3 age:#{item.age}
            h3 更新啊时间:#{moment(item.meta.updateAt).format('YYYY-MM-DD')}
            p: a.del.btn.btn-danger(role='button' data-shanchu='#{item._id}') 删除
  script(src='/javascripts/shanchu.js')
